@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Customers";
    var movies = Model.Movies;
}
<div class="row">
    <table class="table table-bordered table-hover"  style="margin-top: 100px;">
        <th>Movies</th>
        @foreach (var movie in movies)
        {
            <tr>
                <td>@movie.Name</td>
            </tr>
        }
    </table>
</div>
